<!DOCTYPE html>
<html lang="ru">

{{> head
  title="Menu"
  styleSheets='<link rel="stylesheet" href="../../CSS/BrowserReset.css">
                 <link rel="stylesheet" href="../../extraPagesCSS/Menu.css">'
  description="Меню ресторана европейской кухни в Санкт-Петербурге MyRest"
  keywords="Меню, MyRest, ресторан, еда, европейская кухня, Мишлен, Санкт-Петербург, вкусно поесть"
  scripts='<script src="../../JS/GetActiveElement.js"></script>
            <script src="../../JS/Dish/DeleteDish.js" defer></script>'
}}
<body class="page">
{{> header }}
<main class="main-content">
  {{> userOptionList }}
  <section class="main-content__menu_table">
  <table class="main-content__menu_table">
    <thead class="menu__header">
    <tr class="menu__row">
      <th class="menu__item menu__column-header">Блюдо</th>
      <th  class="menu__item menu__column-header">Белки</th>
      <th  class="menu__item menu__column-header">Жиры</th>
      <th  class="menu__item menu__column-header">Углеводы</th>
      <th  class="menu__item menu__column-header">Граммы</th>
      <th  class="menu__item menu__column-header">Цена</th>
    </tr>
    </thead>
    <tbody class="menu__body">
    <tr class="menu__row">
        <td class="menu__item menu__row-header">{{ dish.name }}</td>
        <td class="menu__item">{{ dish.protein }}</td>
        <td class="menu__item">{{ dish.fat }}</td>
        <td class="menu__item">{{ dish.carbohydrates }}</td>
        <td class="menu__item">{{ dish.grams }}</td>
        <td class="menu__item">{{ dish.price }}</td>
    </tr>

    </tbody>


  </table>
    <button class="dish_button" type="button">
      <a href="/dish/update/{{ dish.id }}">Изменить</a>
    </button>
    <button id="deleteButton" class="dish_button" type="button" data-id="{{ dish.id }}">
      <a href="/dish/Menu">Удалить</a>
    </button>
  </section>


</main>
{{> footer }}
</body>
</html>