<!DOCTYPE html>
<html lang="ru">

{{> head
  title="OrderCreate"
  styleSheets='<link rel="stylesheet" href="../../CSS/BrowserReset.css">
                 <link rel="stylesheet" href="../../extraPagesCSS/Menu.css">'
  description="Меню ресторана европейской кухни в Санкт-Петербурге MyRest"
  keywords="Меню, MyRest, ресторан, еда, европейская кухня, Мишлен, Санкт-Петербург, вкусно поесть"
  scripts='<script src="../../JS/GetActiveElement.js"></script>
            <script src="../../JS/Order/OrderCreate.js" defer></script>'
}}
<body class="page">
{{> header }}
<main class="main-content">
  {{> userOptionList }}
  <section class="main-content__menu_table">
    <form id="create-order-form" action="/order/create" method="POST">
      <table class="main-content__menu_table">
        <caption class="menu__title">Создание заказа</caption>
        <thead class="menu__header">
        <tr class="menu__row">
          <th class="menu__item menu__column-header">Блюдо</th>
          <th class="menu__item menu__column-header">Белки</th>
          <th class="menu__item menu__column-header">Жиры</th>
          <th class="menu__item menu__column-header">Углеводы</th>
          <th class="menu__item menu__column-header">Граммы</th>
          <th class="menu__item menu__column-header">Цена</th>
          <th class="menu__item menu__column-header">Заказ</th>
        </tr>
        </thead>
        <tbody class="menu__body">
        {{#each dishes}}
          <tr class="menu__row">
            <td class="menu__item menu__row-header">

              <a href="/dish/{{this.id}}">{{ this.name }}</a>
            </td>
            <td class="menu__item">{{ this.protein }}</td>
            <td class="menu__item">{{ this.fat }}</td>
            <td class="menu__item">{{ this.carbohydrates }}</td>
            <td class="menu__item">{{ this.grams }}</td>
            <td class="menu__item">{{ this.price }}</td>
            <td class="menu__item"><input type="checkbox" name="dishIds" value="{{this.id}}" /> <!-- Чекбокс для выбора блюда --></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

      <div class="order_author">
        <label for="author">Автор заказа:</label>
        <input type="number" id="author" name="author" required />
      </div>

      <!-- Кнопка "Создать заказ" -->
      <button type="submit" class="dish_button">Создать заказ</button>
    </form>
  </section>
</main>
{{> footer }}
</body>
</html>